<div class="2xl:container h-screen m-auto">
    <div class="relative h-full ml-auto lg:w-6/12 bg-black  hover:transition-colors duration-500 pl-35 rounded-r-lg">
        <div class="m-auto py-12 px-6 sm:p-20 xl:w-10/12 ">
            <div class="flex space-x-4 justify-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1" viewBox="0 0 20 20" fill="white">
                      <path fill-rule="evenodd" d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z" clip-rule="evenodd" /> 
                    </svg>
                <p class="font-medium text-lg text-gray-100">Welcome to Pilar! Login first</p>
            </div>

            <form action="" class="space-y-6 py-6">
                <div>
                    <input type="email" placeholder="Your Email" class="w-full py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-white transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:ring-red-400 focus:invalid:outline-none">
                </div>

                <div class="flex flex-col items-end">
                    <input type="password" placeholder="What's the secret word ?" class="w-full py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-white  transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:ring-red-400 focus:invalid:outline-none"
                    />
                    <button type="reset" class="w-max p-3 -mr-3"> 
                          <span class="text-sm tracking-wide text-blue-600">Forgot password ?</span>
                        </button>
                </div>

                <div>
                    <button class="w-full px-6 py-3 rounded-xl bg-sky-500 transition hover:bg-sky-600 focus:bg-sky-600 active:bg-sky-800">
                          <span class="font-semibold text-white text-lg">Login</span>
                        </button>
                    <a href="#" type="reset" class="w-max p-3 -ml-3">
                        <span class="text-sm tracking-wide text-blue-600">Create new account</span>
                    </a>
                </div>
            </form>

            <div class="border-t pt-12">
                <div class="space-y-2 text-center">
                    <span class="block text-sm tracking-wide text-gray-500"> &copy; 2022 - Guhkun </span>
                </div>
            </div>
        </div>
    </div>
</div>