<body class="h-full py-16 antialiased bg-primary-very-light font-sans">
    <header class="flex flex-col items-center mb-12">
        <h2 class="text-3xl text-primary-normal  font-bold">Pilih Halaman Login Anda </h2>
    </header>
    <section class="flex flex-col lg:flex-row items-start items-center lg:justify-center w-full w-full lg:px-10 py-12 ">
        <article class="bg-white w-4/5 lg:w-custom mb-10 lg:px-4 px-6 py-10 text-center text-primary-dark rounded-lg">
            <h5 class="font-bold text-base"></h5>
            <h2 class="pb-4 flex justify-center font-bold border-b border-gray-300 text-4xl">
                Simple
            </h2>

            <ul class="text-sm font-bold">
                <li class="pt-4 pb-4 border-b  text-gray-600">Form login</li>
                <li class="pt-4 pb-4 border-b  text-gray-600">Tanpa Gambar</li>
                <li class="pt-3 pb-4 border-b  text-gray-600">Tanpa Video</li>
            </ul>
            <div class="mt-10">
                <a routerLink="/login" class="p-4 bg-teal-600 mt-10 rounded-md px-20 text-white"> Login 1 </a>
            </div>
        </article>

        <article class="bg-white w-4/5 lg:w-custom mb-10 lg:px-4 px-6 py-10 text-center text-primary-dark rounded-lg">
            <h5 class="font-bold text-base"></h5>
            <h2 class="pb-4 flex justify-center font-bold border-b border-gray-300 text-4xl">
                Standar
            </h2>

            <ul class="text-sm font-bold">
                <li class="pt-4 pb-4 border-b  text-gray-600">Form login</li>
                <li class="pt-4 pb-4 border-b  text-gray-600">Dengan Gambar</li>
                <li class="pt-3 pb-4 border-b  text-gray-600">Tanpa Video</li>
            </ul>
            <div class="mt-10">
                <a routerLink="/login2" class="p-4 bg-cyan-600 mt-10 rounded-md px-20 text-white"> Login 2 </a>
            </div>
        </article>

        <article class="bg-white w-4/5 lg:w-custom mb-10 lg:px-4 px-6 py-10 text-center text-primary-dark rounded-lg">
            <h5 class="font-bold text-base"></h5>
            <h2 class="pb-4 flex justify-center font-bold border-b border-gray-300 text-4xl">
                Modern
            </h2>

            <ul class="text-sm font-bold">
                <li class="pt-4 pb-4 border-b  text-gray-600">Form login</li>
                <li class="pt-4 pb-4 border-b  text-gray-600">Dengan Gambar</li>
                <li class="pt-3 pb-4 border-b  text-gray-600">Dengan Background Video </li>
            </ul>
            <div class="mt-10">
                <a routerLink="/login3" class="p-4 bg-indigo-600 mt-10 rounded-md px-20 text-white"> Login 3 </a>
            </div>
        </article>
    </section>
</body>